<h1>Showing articles details</h1>

<p><strong> Title: <%= @article.title %> </p>

<p><strong> Description:<%= @article.description %> </p>

<%= link_to "Edit Article", edit_article_path(@article) %> |
<%= link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to "Return to articles listing", articles_path %>